.header{
  color: #faf8f8;
  height: 80px;
  background-color: #1C2B35;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  position: sticky;
  top: 0;
}
.angkor_tag{
  /* padding-top: 25px; */

}
.angkor_tag a{
  padding-left: 50px;
  color: white;
}